@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
/* ==========================================================================
   Base styles
   ========================================================================== */
html {
  color: #666666;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

input[type="text"], input[type="email"] {
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 7px; }

input[type="radio"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px; }

label {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -4px;
  margin-left: 10px; }

.form-control {
  margin-bottom: 30px;
  margin-top: 20px; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Main Styles
   ========================================================================== */
body {
  background: white;
  font-family: 'Lato', sans-serif; }

a {
  color: #666666;
  text-decoration: none; }

.blue-text {
  color: #2879B5; }

.green-text {
  color: #37A522; }

.black-text {
  color: #41454D; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  color: #333333; }

h1 {
  font-size: 34px;
  line-height: 1.2; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px;
  font-weight: 700; }

h4 {
  font-size: 18px; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (max-width: 767px) {
    .container {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (max-width: 1100px) {
    .container {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

.container-wide {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto; }
  .container-wide:after {
    content: " ";
    display: block;
    clear: both; }
  @media (max-width: 767px) {
    .container-wide {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .container-wide:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (max-width: 1100px) {
    .container-wide {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .container-wide:after {
        content: " ";
        display: block;
        clear: both; } }

.mobile-nav {
  display: none; }

.close {
  color: #666666;
  border: 1px solid #cccccc;
  padding: 5px 12px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 18px;
  right: 5px;
  display: none; }

.menu-toggle {
  color: #666666;
  border: 1px solid #cccccc;
  padding: 5px 12px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 18px;
  right: 5px;
  text-decoration: none; }

@media (max-width: 767px) {
  .mobile-nav {
    display: block;
    position: relative;
    min-height: 80px; }
    .mobile-nav #intranext-logo-mobile {
      width: 45%;
      margin-left: 5px;
      margin-top: 18px; }
    .mobile-nav .mobile-menu {
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      padding-top: 20px;
      padding-bottom: 30px; }
      .mobile-nav .mobile-menu li {
        display: block; }
      .mobile-nav .mobile-menu a {
        display: block;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        color: #666666;
        text-decoration: none; }
        .mobile-nav .mobile-menu a.active, .mobile-nav .mobile-menu a:hover {
          color: white;
          background: #2879B5; } }

.topbar {
  width: 100%;
  height: 30px;
  background: #2E323B;
  font-size: 12px;
  line-height: 30px; }
  @media (max-width: 767px) {
    .topbar {
      display: none; } }
  .topbar .pull-right {
    margin-right: 15px; }
  .topbar a {
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none; }
    .topbar a:hover {
      color: #333333; }
    .topbar a.active {
      color: #333333; }
    .topbar a:last-of-type {
      margin-right: 0; }
  .topbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .topbar li {
    display: inline; }

/* SVG Logo Styles */
.st0 {
  fill: #666666; }

.st1 {
  fill: #1CA531; }

.st2 {
  fill: #0079B2; }

.st3 {
  fill: #14A52C; }

.st4 {
  fill: #017AAF; }

.st5 {
  fill: #017CAA; }

.st6 {
  fill: #027DA5; }

.st7 {
  fill: #037F9F; }

.st8 {
  fill: #048298; }

.st9 {
  fill: #058492; }

.st10 {
  fill: #06868A; }

.st11 {
  fill: #078981; }

.st12 {
  fill: #098B7A; }

.st13 {
  fill: #0A8E71; }

.st14 {
  fill: #0A9169; }

.st15 {
  fill: #0C9460; }

.st16 {
  fill: #0D9659; }

.st17 {
  fill: #0F9851; }

.st18 {
  fill: #109B4A; }

.st19 {
  fill: #109D42; }

.st20 {
  fill: #129F3D; }

.st21 {
  fill: #12A136; }

.st22 {
  fill: #14A331; }

#intranext-logo {
  width: 195px;
  height: auto;
  float: left;
  margin-top: 33px; }
  @media (max-width: 1023px) {
    #intranext-logo {
      width: 150px !important; } }

.scroll-nav {
  border-bottom: 1px solid #CCCCCC;
  z-index: 9999; }
  .scroll-nav .nav a {
    border-bottom: none; }
    .scroll-nav .nav a:hover, .scroll-nav .nav a.active {
      border-bottom: none; }

nav {
  height: 125px;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  top: 30px; }
  @media (max-width: 767px) {
    nav {
      display: none; } }

.nav-column {
  width: 74.76636%;
  float: right;
  margin-right: 0; }

.nav {
  font-size: 15px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 48px; }
  .nav li {
    display: inline; }
  .nav a {
    display: inline-block;
    line-height: 75px;
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    padding-left: 13px;
    padding-right: 13px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-bottom: 2px solid transparent; }
    .nav a:hover, .nav a.active {
      color: #2879B5;
      border-bottom: 2px solid #2879B5; }
    @media (max-width: 1023px) {
      .nav a {
        padding-left: 5px;
        padding-right: 5px; } }

.banner {
  color: white;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 125px;
  width: 100%; }
  @media (max-width: 767px) {
    .banner {
      height: 400px;
      margin-top: 0; } }
  @media (min-width: 1101px) {
    .banner {
      background-position: bottom center; } }

.homepage-banner-callout {
  display: inline-block;
  margin-top: 230px; }
  .homepage-banner-callout .btn {
    margin-top: 45px; }
  .homepage-banner-callout h1 {
    color: white; }
  @media (max-width: 767px) {
    .homepage-banner-callout {
      margin-top: 70px; } }

.btn {
  padding: 15px 50px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: #2879B5;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .btn:hover {
    background: #3c93d4; }

.btn-blue {
  background: #2879B5; }

.btn-grey {
  background: #808080; }
  .btn-grey:hover {
    background: #9a9a9a; }

.btn-green {
  background: #37A522; }
  .btn-green:hover {
    background: #45cf2b; }

.btn-white {
  background: white;
  color: #2879B5; }
  .btn-white:hover {
    background: white;
    opacity: 0.9;
    color: #2879B5; }

.homepage-callout {
  text-align: center;
  margin-top: -80px; }
  .homepage-callout h3 {
    color: white;
    font-weight: 300;
    line-height: 75px;
    background: #2E323B;
    display: block;
    margin-right: -30px;
    margin-left: -30px; }

.homepage-intro {
  width: 66.35514%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px; }
  @media (max-width: 767px) {
    .homepage-intro {
      width: 83.17757%; } }

.general-callout {
  text-align: center;
  margin-bottom: 50px; }
  .general-callout h3 {
    color: #666666;
    font-weight: 300;
    margin-top: 36px; }

.page-callout {
  margin-bottom: 50px; }
  .page-callout h2 {
    text-align: center; }
  .page-callout h3 {
    color: #666666;
    font-weight: 300;
    margin-top: 36px; }

.homepage-products:after {
  content: " ";
  display: block;
  clear: both; }

.homepage-products h3 {
  font-weight: 700; }
  .homepage-products h3 span {
    margin-right: 15px;
    margin-bottom: -7px; }

.homepage-products p {
  color: #666666;
  margin-bottom: 20px; }

.homepage-products .nextsys-link:hover {
  color: #2879B5; }

.homepage-products .iguard-link:hover {
  color: #37A522; }

.homepage-products .services-link:hover {
  color: #41454D; }

.product-column {
  background: #f2f2f2;
  width: 32%;
  margin-right: 1%;
  float: left;
  padding: 0px 30px 40px 30px;
  min-height: 405px; }
  .product-column h4 {
    margin-top: 40px;
    color: #333333;
    font-size: 20px; }
  .product-column p {
    color: #333333;
    margin-bottom: 30px; }
  .product-column .btn-grey {
    margin-top: 50px; }
  .product-column .btn-green {
    margin-top: 5px; }
  @media (max-width: 767px) {
    .product-column {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; } }

.product-column:last-of-type {
  width: 33%;
  float: right; }
  @media (max-width: 767px) {
    .product-column:last-of-type {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.product-icon {
  width: 130px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

/* SVG Icon Styles */
.services-st0 {
  fill: none;
  stroke: #41454D;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.services-st1 {
  fill: #41454D; }

.iguard-st0 {
  fill: none;
  stroke: #37A522;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.iguard-st1 {
  fill: #37A522; }

.nextsys-st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.nextsys-st1 {
  fill: #2879B5; }

.howitworks-diagram {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .howitworks-diagram img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px; }
  .howitworks-diagram h3 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: -10px; }
    @media (max-width: 1023px) {
      .howitworks-diagram h3 {
        margin-top: 0; } }
  .howitworks-diagram h2 {
    margin-top: -10px;
    margin-bottom: 30px; }

.howitworks {
  background: #F2F2F2;
  padding-top: 100px;
  padding-bottom: 100px; }
  .howitworks h3 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: -10px; }
    @media (max-width: 1023px) {
      .howitworks h3 {
        margin-top: 0; } }
  .howitworks h2 {
    margin-top: -10px;
    margin-bottom: 30px; }

.howitworks-left {
  width: 47.05882%;
  float: left;
  margin-right: 5.88235%; }
  @media (max-width: 767px) {
    .howitworks-left {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.howitworks-right {
  width: 47.05882%;
  float: right;
  margin-right: 0; }
  @media (max-width: 767px) {
    .howitworks-right {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  .howitworks-right img {
    max-width: 100%;
    height: auto; }

.iguard-icon-sm {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../img/iguard-icon-sm.png) top left no-repeat; }

.nextsys-icon-sm {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../img/nextsys-icon-sm.png) top left no-repeat; }

.services-icon-sm {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../img/services-icon-sm-dis.png) top left no-repeat; }

.switcher-icon {
  width: 60px;
  height: auto;
  float: left;
  margin-right: 25px; }

.feature {
  margin-bottom: 60px; }
  .feature:after {
    content: " ";
    display: block;
    clear: both; }
  .feature:last-of-type {
    margin-bottom: 10px; }

.feature-text {
  padding-top: 7px;
  font-size: 15.5px; }
  @media (max-width: 767px) {
    .feature-text {
      padding-top: 0; } }

.iguard-switcher h2, .iguard-switcher h3 {
  color: #37A522; }

.iguard-switcher .btn {
  background: #37A522; }

.iguard-switcher .star-icon .st0 {
  fill: none;
  stroke: #37A522;
  stroke-miterlimit: 10; }

.iguard-switcher .star-icon .st1 {
  fill: none;
  stroke: #37A522;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.iguard-switcher .arrow-icon .st0 {
  fill: #37A522;
  stroke: #37A522;
  stroke-miterlimit: 10; }

.iguard-switcher .arrow-icon .st1 {
  fill: none;
  stroke: #37A522;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.iguard-switcher .phone-icon .st0 {
  fill: none;
  stroke: #37A522;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.iguard-switcher .phone-icon .st1 {
  fill: none;
  stroke: #37A522;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.iguard-switcher .share-icon .st0 {
  fill: none;
  stroke: #37A522;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.iguard-switcher .share-icon .st1 {
  fill: none;
  stroke: #37A522;
  stroke-miterlimit: 10; }

.nextsys-switcher h2, .nextsys-switcher h3 {
  color: #2879B5; }

.nextsys-switcher .btn {
  background: #2879B5; }

.nextsys-switcher .star-icon .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-miterlimit: 10; }

.nextsys-switcher .star-icon .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.nextsys-switcher .arrow-icon .st0 {
  fill: #2879B5;
  stroke: #2879B5;
  stroke-miterlimit: 10; }

.nextsys-switcher .arrow-icon .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.nextsys-switcher .phone-icon .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.nextsys-switcher .phone-icon .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.nextsys-switcher .share-icon .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.nextsys-switcher .share-icon .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-miterlimit: 10; }

.services-switcher h2, .services-switcher h3 {
  color: #41454D; }

.services-switcher .btn {
  background: #41454D; }

.services-switcher .star-icon .st0 {
  fill: none;
  stroke: #41454D;
  stroke-miterlimit: 10; }

.services-switcher .star-icon .st1 {
  fill: none;
  stroke: #41454D;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.services-switcher .arrow-icon .st0 {
  fill: #41454D;
  stroke: #41454D;
  stroke-miterlimit: 10; }

.services-switcher .arrow-icon .st1 {
  fill: none;
  stroke: #41454D;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.services-switcher .phone-icon .st0 {
  fill: none;
  stroke: #41454D;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.services-switcher .phone-icon .st1 {
  fill: none;
  stroke: #41454D;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.services-switcher .share-icon .st0 {
  fill: none;
  stroke: #41454D;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.services-switcher .share-icon .st1 {
  fill: none;
  stroke: #41454D;
  stroke-miterlimit: 10; }

.switcher-tab {
  display: none; }

.switcher-tab.active {
  display: inherit; }

.values {
  margin-bottom: 80px;
  min-height: 520px;
  background-size: cover;
  background-position: center center;
  background-color: #2879B5;
  color: white;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center; }
  .values h2 {
    color: white; }
  .values h3 {
    color: white;
    font-weight: 300;
    width: 66.35514%;
    margin: auto;
    margin-top: 40px; }

.values .quarter-column {
  margin-top: 50px;
  margin-bottom: 80px; }
  .values .quarter-column h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .values .quarter-column svg {
    margin-bottom: 40px;
    width: 95px;
    height: auto; }

.values-columns:after {
  content: " ";
  display: block;
  clear: both; }

.quarter-column {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%; }
  @media (max-width: 767px) {
    .quarter-column {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.quarter-column:nth-of-type(4) {
  width: 22.85714%;
  float: right;
  margin-right: 0; }
  @media (max-width: 767px) {
    .quarter-column:nth-of-type(4) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.puzzle-st0 {
  fill: #2879B5;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.puzzle-st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10; }

.puzzle-st2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.9609;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0,15.9477; }

.efficient-st0 {
  fill: #297AB6; }

.efficient-st1 {
  fill: #FFFFFF; }

.efficient-st2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.0631;
  stroke-miterlimit: 10; }

.efficient-st3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.0631;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.efficient-st4 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 1.3307;
  stroke-miterlimit: 10; }

.graph-icon .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.graph-icon .st1 {
  fill: #2879B5; }

.graph-icon .st2 {
  fill: #FFFFFF; }

.graph-icon .st3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.outcomes {
  padding-bottom: 100px; }
  .outcomes:after {
    content: " ";
    display: block;
    clear: both; }
  .outcomes h2 {
    text-align: center; }
  .outcomes h3 {
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 60px;
    color: #666666; }

.outcomes-column {
  text-align: center;
  width: 30.76923%;
  float: left;
  margin-right: 3.84615%; }
  .outcomes-column h3 {
    font-weight: 700;
    margin-top: 35px;
    color: #2879B5;
    text-transform: uppercase;
    margin-bottom: 0; }
  .outcomes-column p {
    margin-top: 5px;
    margin-bottom: 10px; }
  @media (max-width: 767px) {
    .outcomes-column {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; } }

.outcomes-column:last-of-type {
  width: 30.76923%;
  float: right;
  margin-right: 0; }
  @media (max-width: 767px) {
    .outcomes-column:last-of-type {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #41454D;
  position: relative; }
  .call-to-action .left-column {
    width: 74.76636%;
    float: left;
    margin-right: 0.93458%;
    padding-right: 50px; }
    @media (max-width: 767px) {
      .call-to-action .left-column {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding: 0;
        margin-bottom: 20px; } }
  .call-to-action .right-column {
    width: 24.29907%;
    float: right;
    margin-right: 0; }
    @media (max-width: 767px) {
      .call-to-action .right-column {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        text-align: center; } }
  .call-to-action h3 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .call-to-action .btn {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.cta-blue {
  background: #2879B5; }

.cta-green {
  background: #37A522; }

footer {
  background: #2E323B;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #676A70;
  font-size: 16px; }
  footer a {
    color: #676A70; }
  footer h3 {
    color: #676A70;
    font-size: 16px; }

.footer-left {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%; }
  @media (max-width: 767px) {
    .footer-left {
      display: none; } }

.footer-middle {
  width: 32.71028%;
  float: left;
  margin-right: 0.93458%; }
  @media (max-width: 767px) {
    .footer-middle {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.footer-right {
  width: 32.71028%;
  float: right;
  margin-right: 0; }
  @media (max-width: 767px) {
    .footer-right {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600; }
  .footer-nav li {
    margin-bottom: 5px; }
  .footer-nav a {
    text-decoration: none; }
    .footer-nav a:hover, .footer-nav a.active {
      color: white; }

.colophon {
  border-top: 1px solid #676A70;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #2E323B; }
  .colophon p {
    color: #676A70;
    margin: 0;
    font-size: 12px; }
  .colophon a {
    color: #676A70;
    text-decoration: none; }
    .colophon a:hover {
      text-decoration: underline; }

.puzzle-reverse .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 1.6852;
  stroke-miterlimit: 10; }

.puzzle-reverse .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 3.3703;
  stroke-miterlimit: 10; }

.check-reverse .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 3.4876;
  stroke-miterlimit: 10; }

.check-reverse .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 1.7438;
  stroke-miterlimit: 10; }

.check-reverse .st2 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.stopwatch-reverse .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.stopwatch-reverse .st1 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.stopwatch-reverse .st2 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 4.7307;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0,25.4801; }

.stopwatch-reverse .st3 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.stopwatch-reverse .st4 {
  fill: #FFFFFF;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.graph-reverse .st0 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.graph-reverse .st1 {
  fill: #FFFFFF; }

.graph-reverse .st2 {
  fill: #2879B5; }

.graph-reverse .st3 {
  fill: none;
  stroke: #2879B5;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.resources-icon {
  width: 125px;
  height: auto;
  max-width: 100%; }
  .resources-icon .st0 {
    fill: #FFFFFF;
    stroke: #2879B5;
    stroke-miterlimit: 10; }
  .resources-icon .st1 {
    fill: none;
    stroke: #2879B5;
    stroke-width: 3;
    stroke-miterlimit: 10; }
  .resources-icon .st2 {
    fill: none;
    stroke: #2879B5;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  .resources-icon .st3 {
    fill: #FFFFFF;
    stroke: #2879B5;
    stroke-width: 2;
    stroke-miterlimit: 10; }

.iguard-icon .st0, .nextsys-icon .st0 {
  fill: #FFFFFF; }

/* ==========================================================================
   Page Specific
   ========================================================================== */
main {
  margin-bottom: 80px; }
  main a {
    font-weight: bold; }
  main h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px; }
  main h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px; }
  main p {
    margin-bottom: 30px; }

.values-about {
  background: #F9F9F9;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  text-align: center; }

.half-column {
  width: 47.05882%;
  float: left;
  margin-right: 5.88235%;
  margin-top: 80px; }
  .half-column svg {
    width: 165px;
    height: auto;
    margin-bottom: 40px; }
  @media (max-width: 767px) {
    .half-column {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  .half-column:nth-of-type(even) {
    width: 47.05882%;
    float: right;
    margin-right: 0; }
    @media (max-width: 767px) {
      .half-column:nth-of-type(even) {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }

.about-team {
  margin-bottom: 120px; }

.team-member {
  margin-bottom: 90px; }
  .team-member:after {
    content: " ";
    display: block;
    clear: both; }
  .team-member .team-img {
    position: relative;
    width: 32.71028%;
    float: left;
    margin-right: 0.93458%; }
    @media (max-width: 1023px) {
      .team-member .team-img {
        width: 41.1215%;
        float: left;
        margin-right: 0.93458%; } }
    @media (max-width: 767px) {
      .team-member .team-img {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        text-align: center; }
        .team-member .team-img img {
          width: 100%;
          height: auto;
          margin-bottom: 40px; } }
    .team-member .team-img .team-img-overlay {
      border-radius: 50%;
      max-width: 100%;
      background: rgba(40, 121, 181, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      text-align: center;
      padding-top: 40%;
      color: white; }
      .team-member .team-img .team-img-overlay img {
        width: 40px;
        height: 40px; }
        .team-member .team-img .team-img-overlay img:hover {
          opacity: 0.9; }
    .team-member .team-img img {
      border-radius: 50%;
      max-width: 100%;
      height: auto; }
    .team-member .team-img:hover .team-img-overlay {
      opacity: 1; }
  .team-member .team-info {
    padding-top: 10px;
    width: 66.35514%;
    float: right;
    margin-right: 0; }
    @media (max-width: 1023px) {
      .team-member .team-info {
        width: 57.94393%;
        float: right;
        margin-right: 0; } }
    @media (max-width: 767px) {
      .team-member .team-info {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    .team-member .team-info h3 {
      text-transform: uppercase; }
    .team-member .team-info h4 {
      font-size: 20px;
      color: #2879B5;
      margin-bottom: 45px; }

.resources {
  margin-top: 100px; }
  .resources:after {
    content: " ";
    display: block;
    clear: both; }
  .resources .resource {
    margin-bottom: 100px;
    width: 30.76923%;
    float: left;
    margin-right: 3.84615%; }
    .resources .resource svg {
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-bottom: 55px; }
    .resources .resource h3 {
      font-weight: 400;
      color: #2879B5;
      margin-bottom: 35px;
      text-transform: none; }
    .resources .resource a {
      color: #666666;
      font-weight: bold; }
      .resources .resource a:hover {
        color: #333333; }
    @media (max-width: 1023px) {
      .resources .resource {
        width: 47.05882%;
        float: left;
        margin-right: 5.88235%; }
        .resources .resource:nth-child(2n+2) {
          width: 47.05882%;
          float: right;
          margin-right: 0; } }
    @media (max-width: 767px) {
      .resources .resource {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
        .resources .resource:nth-child(1n+1) {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
    @media (min-width: 1024px) {
      .resources .resource:nth-child(3n+3) {
        width: 30.76923%;
        float: right;
        margin-right: 0; } }

.demo {
  width: 47.05882%;
  float: left;
  margin-right: 5.88235%; }
  @media (max-width: 767px) {
    .demo {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; } }
  .demo h3 {
    color: #2879B5;
    margin-bottom: 0; }
  .demo p {
    margin-top: 0;
    margin-bottom: 55px; }
  .demo h4 {
    margin-bottom: 55px; }

.demo-form {
  width: 47.05882%;
  float: right;
  margin-right: 0;
  background: #F2F2F2;
  padding: 35px; }
  .demo-form input[type="text"], .demo-form input[type="email"] {
    width: 100%; }
  .demo-form .choices {
    display: inline; }
  @media (max-width: 767px) {
    .demo-form {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 100px; }
      .demo-form .choices {
        display: block;
        width: 100%;
        margin-left: -10px; } }

.service-banner {
  margin-bottom: 0; }

.service-callout {
  width: 83.17757%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding-top: 130px; }
  .service-callout h1 {
    color: white;
    margin-bottom: 60px; }
  .service-callout h2 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 74.76636%;
    margin-left: auto;
    margin-right: auto; }
  .service-callout svg {
    width: 55px;
    margin-bottom: 70px; }
  @media (max-width: 1023px) {
    .service-callout {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    .service-callout {
      padding-top: 15px;
      min-height: 650px;
      width: 100%; }
      .service-callout svg {
        margin-bottom: 15px;
        width: 35px;
        height: auto; }
      .service-callout h1 {
        font-size: 24px;
        margin-bottom: 15px; }
      .service-callout h2 {
        font-size: 18px;
        width: 100%; } }

.service-info:after {
  content: " ";
  display: block;
  clear: both; }

.service-info .service-column {
  width: 50%;
  float: left;
  min-height: 485px;
  margin-right: 0;
  position: relative; }
  @media (max-width: 1023px) {
    .service-info .service-column {
      min-height: 600px; } }
  @media (max-width: 767px) {
    .service-info .service-column {
      width: 100%;
      float: none;
      display: block;
      min-height: inherit; } }
  .service-info .service-column:nth-child(even) {
    width: 50%;
    float: right;
    margin-left: 0; }
    @media (max-width: 767px) {
      .service-info .service-column:nth-child(even) {
        width: 100%;
        float: none;
        display: block; } }
  .service-info .service-column .service-text {
    width: 74.76636%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 767px) {
      .service-info .service-column .service-text {
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
        margin-top: 20px;
        margin-bottom: 40px; } }
  .service-info .service-column h1 {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .service-info .service-column h1 {
        font-size: 24px;
        margin-bottom: 20px; } }

.service-info .service-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left; }
  @media (max-width: 767px) {
    .service-info .service-img {
      min-height: 300px;
      background-position: center center; } }

.light-callout {
  background: #F9F9F9;
  margin-bottom: 120px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  text-align: center; }

.how-iguard-works {
  margin-bottom: 100px; }

.how-iguard-works-img {
  margin-bottom: 40px; }

.nextsys-callout {
  margin-bottom: 0; }
  .nextsys-callout img {
    width: 175px;
    height: auto; }

/* ==========================================================================
   Blog Styles
   ========================================================================== */
.blog {
  width: 57.94393%;
  float: left;
  margin-right: 0.93458%;
  margin-right: 7.47664%; }
  @media (max-width: 767px) {
    .blog {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-right: auto;
      margin-bottom: 30px;
      border-bottom: 1px solid #f2f2f2; } }
  .blog .post {
    margin-bottom: 50px; }
  .blog h1 {
    margin-bottom: 55px; }
  .blog h2 {
    color: #2879B5;
    margin-bottom: 30px; }
    .blog h2 a {
      font-weight: inherit;
      color: #2879B5; }
  .blog p {
    margin-bottom: 20px; }

.sidebar {
  padding-top: 100px;
  width: 32.71028%;
  float: right;
  margin-right: 0;
  font-weight: 400; }
  @media (max-width: 767px) {
    .sidebar {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  .sidebar h5 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px; }
  .sidebar input, .sidebar select {
    border: 1px solid #f2f2f2;
    width: 100%;
    outline: none;
    background: white;
    padding: 12px; }
  .sidebar select {
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    color: #B3B3B3;
    background-image: url(../img/dropdown-arrow.png);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%; }
  .sidebar .search-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    z-index: 999;
    background: #2879B5 url(../img/search-icon.png) center center no-repeat;
    color: transparent;
    right: 0;
    background-size: 16px 16px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    .sidebar .search-btn:hover {
      opacity: 0.9; }

form div {
  position: relative; }

.widget {
  margin-bottom: 35px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.brand-text {
  color: #2879B5 !important; }
  .brand-text:hover {
    color: #2879B5; }

.iguard-text {
  color: #37A522; }
  .iguard-text:hover {
    color: #37A522; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.row:after {
  content: " ";
  display: block;
  clear: both; }

ul.iguard-list {
  list-style-type: none;
  margin: 10px 0;
  padding: 0; }
  ul.iguard-list li:before {
    content: "• ";
    color: #37A522; }

@media (max-width: 1100px) {
  br {
    display: none; } }

@media (max-width: 1023px) {
  br {
    display: none; } }

@media (max-width: 767px) {
  br {
    display: none; } }
